<!DOCTYPE html>

<html>

<head>
    <title>Stock Screener</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site to get your US Stock details!</p>

        <form>
            <input placeholder="Stock">
            <button>Search</button>
        </form>

        <p id="mesg-1"></p>
        <p id="mesg-2"></p>
        <p id="mesg-3"></p>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>